@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Neumorphism stuff */

:root {
  --bg: #eeeeee;
  --border: #ffffff;
  --light-shadow-color: #ffffff;
  --dark-shadow-color: #cfcfcf;
  
  --left-shadow:  -0.8vw -0.8vh 1.5rem var(--light-shadow-color);
  --right-shadow:  0.8vw 0.8vh 1.5rem var(--dark-shadow-color);
}

.neu-outset {
  background: var(--bg);
  border: 1vh 1vw solid var(--border);
  border-radius: 0.5vmax;
  box-shadow: var(--left-shadow), var(--right-shadow);
}

.neu-inset {
  background: var(--bg);
  border: 1vh 1vw solid var(--border);
  border-radius: 0.5vmax;
  box-shadow: var(--left-shadow) inset, var(--right-shadow) inset;
}

/* Flexbox stuff */

.container {
  margin: 0;
  padding: 5vh 5vw;
  height: 90vh;
  width: 90vw;
}

.row {
  display: flex;
  justify-content: center;
  margin: 1vmax;
  padding: 1vmax;
}

.cell {
  margin: 1vmin;
  padding: 1vmin;
}

.cell-cent {
  margin: 1vmin;
  padding: 1vmin;
  align-self: center;
}

.vert-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ht-sm {
  flex: 1 1;
}

.ht-bg {
  flex: 2 1;
}

.wd-eq {
  flex: 1 1;
}

.wd-mid {
  flex: 2 1;
}

.wd-big {
  flex: 3 1;
}

/* Elements */

body {
  margin:0; padding:0;
  width: 100vw; height: 100vh;
  background: var(--bg);
  font-family: 'Mulish', sans-serif;
  font-size: 3vmin;
  color: #333333;
  text-align: center;
}

label {
  all: unset;
  font-size: 0.8em;
  margin: 1vh 1vw;
  padding: 2vh 2vw;
  display: inline;
}

input {
  all: unset;
  font-size: 0.8em;
  margin: 1vh 1vw;
  padding: 2vh 2vw;
  display: inline;
} input:focus {
  box-shadow: var(--left-shadow), var(--right-shadow);
}

button {
  all: unset;
  font-size: 0.8em;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  display: inline;
} button:active {
  box-shadow: var(--left-shadow) inset, var(--right-shadow) inset;
}

